body {
  /* Change my background, and set global font family.*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.content-wrapper {
  /* Center on page, set width */
  width: 1000px;
  margin: auto;
  background-color: whitesmoke;
  
}

header h1 {
  /* Make bigger and color, Change font family to sans serif and center */
  font-family: sans-serif;
  font-size: 2.5rem;
  color: #330000;
  text-align: center;
  padding: 1rem;
}

.mainnav ul li a {
  /* Change background color, remove bullets, border on each individual nav element. create and float links, center our content within the links. width, font color, change font family */
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  float: left;
  list-style-type: none;
  background-color: #ffb3b3;
  width: 142.85px;
  text-align: center;
  border-left: 4px solid #ff8080 ;
  padding: .5rem;
  
}

.mainnav li:first-child a {
  border-left: 0 none;
}

.mainnav a {
  text-decoration: none;
  color: #330000;
}

aside {
  /* clear float, background color, float, font color */
  clear: both;
  float: left;
  background-color: peachpuff;
  font-size: 1.3rem;
  font-weight: bold;
  width: 21%;
  margin: auto;
  text-align: center;
  padding: 10rem 3rem 20.599rem;
  
}

aside a {
  text-decoration: none;
  color: #330000;
}

aside ul li {
    /* clear both, links? */
  clear: both;
  list-style-type: none;
  padding: .5em;
}

aside ul li img {
  width: 130%;
  border: .2em solid orange;
  padding: .2em
}

.hiphop1 {
  float:left;
  text-align: left;
}
.hiphop2 {
  float: left;
  text-align: left;
}

.hiphop3 {
  float: left;
  text-align: left;
}

section {
  /* background-color, float to the right?, font size  */
  /*clear:both; why does this mess up my styling? */
  background-color: lightgray;
  float: right;
  width: 79%;
  margin: auto;
}

figure {
/* Center, size of the font */  
  text-align: center;
  padding: 6rem 3rem 2.46rem;
  font-family: sans-serif;
}

figure img {
  padding: 2rem;
  width: 100%
}

.audio {
  background-color: white;
  clear: both;
  float: left;
  text-align: center;
  width: 1000px;
  margin: auto;
  padding: .5%;
}

footer {
  /* float the images, create links, center links */
  float: left;
  width: 1000px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 3%;
}

footer a {
  padding: 1rem;
}

footer a img {
  width: 5%;
}

